<div class="jumbotron"> 
    <div class="signup-form">
      <form #videogameform="ngForm" method="POST" action="">
          <div class="form-header">
            <h2>Add a new book ! </h2>
          </div>
              <div class="form-group">
            <label>Title</label>
                <input type="text" class="form-control" [formControl]="bookForm.controls.title" required="required">
              </div>
              <div class="form-group">
            <label>Author</label>
                <input type="text" class="form-control" [formControl]="bookForm.controls.author" required="required">
              </div>
          <div class="form-group">
            <label>Date</label>
                  <input type="date" class="form-control" [formControl]="bookForm.controls.publicationDate" required="required">
              </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="addBook()" > Submit </button>
          </div>	
          <div class="col-sm-4">
            <input type="submit" class="btn btn-info add-new" value="Return" onclick="window.location='/book';" />  
        </div>	
      </form> 
    </div>
  </div>