<div class="jumbotron"> 
  <div class="signup-form">
    <form #videogameform="ngForm" method="POST" action="">
        <div class="form-header">
          <h2>Add a new video game ! </h2>
        </div>
            <div class="form-group">
          <label>Name</label>
              <input type="text" class="form-control" [formControl]="gameForm.controls.name" required="required">
            </div>
            <div class="form-group">
          <label>Editor</label>
              <input type="text" class="form-control" [formControl]="gameForm.controls.editor" required="required">
            </div>
        <div class="form-group"> 
          <label>Pegi</label>
                <input type="number" class="form-control" [formControl]="gameForm.controls.pegi" required="required">
            </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="subGame()" > Submit </button>
        </div>	
        <div class="col-sm-4">
          <input type="submit" class="btn btn-info add-new" value="Return" onclick="window.location='/indexjeuxvideo';" />  
      </div>	
    </form>
  </div>
</div>