<div class="jumbotron"> 
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2> Video games :</h2></div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-info add-new" value="Add New" onclick="window.location='/videogame';" />  
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Editor</th>
                        <th>Pegi</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of videoGames">
                        <td>{{ item.Name }}</td>
                        <td>{{ item.Editor }}</td>
                        <td>{{ item.Pegi }}</td>
                        <td>
                            <a href="/updateGame" title="Edit" data-toggle="tooltip" ><img src="assets/images/modifier.png" width="30"></a>
                            <a href="/supprimerjeux" title="Delete" data-toggle="tooltip"><img src="assets/images/supprimer.png" width="30"></a>
                        </td>
                    </tr>      
                </tbody>
            </table>
        </div>
    </div>      
</div>