<div class="jumbotron"> 
    <div class="signup-form">
      <form #videogameform="ngForm" method="POST" action="">
          <div class="form-header">
            <h2>Update a video game </h2>
          </div>
              <div class="form-group">
                <label> Name of the game to be modified </label>
                <input type="text" class="form-control" [formControl]="gameForm.controls.name" required="required">
              </div>
            
              <div class="form-group">
                <h3>Update form :  </h3>
              </div>
              <div class="form-group">
                <label> New name </label>
                <input type="text" class="form-control" [formControl]="gameUpdtadeForm.controls.newName" required="required">
              </div>
              <div class="form-group">
                <label>New editor</label>
                <input type="text" class="form-control" [formControl]="gameUpdtadeForm.controls.newEditor" required="required">
              </div>
              <div class="form-group"> 
                <label>New pegi</label>
                <input type="number" class="form-control" [formControl]="gameUpdtadeForm.controls.newPegi" required="required">
              </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="updateGame()" > Submit </button>
          </div>	
          <div class="col-sm-4">
            <input type="submit" class="btn btn-info add-new" value="Return" onclick="window.location='/indexjeuxvideo';" />  
        </div>	
      </form>
    </div>
  </div>