<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/book">Livres </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/indexjeuxvideo"> Jeux video</a>
      </li>
    </ul>
  </div>
</nav>

<div id="app">
    <div class="container">
        <div>
        <!--<app-exampleforme> </app-exampleforme>-->
            <router-outlet></router-outlet> <!--Test routes Ici ça met le contenu de book.component.html-->
            <app-particles>
            </app-particles>
    </div>

            
</div>