<div class="jumbotron"> 
    <div class="signup-form">
      <form #videogameform="ngForm" method="POST" action="">
          <div class="form-header">
            <h2>Update a Book </h2>
          </div>
              <div class="form-group">
                <label> Title of the book to be modified </label>
                <input type="text" class="form-control" [formControl]="bookForm.controls.title" required="required">
              </div>
            
              <div class="form-group">
                <h3>Update form :  </h3>
              </div>
              <div class="form-group">
                <label> New title </label>
                <input type="text" class="form-control" [formControl]="bookUpdtadeForm.controls.newTitle" required="required">
              </div>
              <div class="form-group">
                <label>New author</label>
                <input type="text" class="form-control" [formControl]="bookUpdtadeForm.controls.newAuthor" required="required">
              </div>
              <div class="form-group"> 
                <label>New date</label>
                <input type="date" class="form-control" [formControl]="bookUpdtadeForm.controls.newDate" required="required">
              </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="updateBook()" > Submit </button>
          </div>	
          <div class="col-sm-4">
            <input type="submit" class="btn btn-info add-new" value="Return" onclick="window.location='/book';" />  
        </div>	
      </form>
    </div>
  </div>