 <!--  ********** HEADER SECTION ********** -->
  <div id="h">
    <div class="container">
      <div class="row centered">
        <h1>Welcome here !</h1>
        
      </div>
      <h2>You can find many video games and books here.</h2>
      <h2> Good visit! </h2>
      <!--/row -->
    </div>
    <!-- /container -->
  </div>
  <!--/header-->